@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply !text-[62.5%];
  }

  body {
    @apply font-sans text-sm overflow-x-hidden;
  }

  svg {
    @apply w-[2rem] h-[2rem];
  }

  h1 {
    @apply text-lg uppercase font-semibold;
  }

  h2 {
    @apply text-md uppercase font-semibold mb-xs;
  }

  h3 {
    @apply font-bold;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

@layer components {
  .double-lines::before,
  .double-lines::after {
    content: "";
    @apply block w-screen bg-grayFaint h-[1px] absolute;
  }

  .double-lines::before {
    @apply top-0 left-[50%] translate-x-[-50%];
  }
  .double-lines::after {
    @apply bottom-0 left-[50%] translate-x-[-50%];
  }

  .primary-button {
    @apply bg-brown p-sm text-center text-white hover:opacity-70 duration-75 uppercase font-bold;
  }

  .secondary-button {
    @apply border border-black p-sm text-center text-black hover:bg-black hover:text-white duration-200  uppercase font-bold;
  }

  .link {
    @apply font-semibold underline hover:text-black text-darkGray;
  }
}
