@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply !text-[62.5%];
  }

  body {
    @apply font-sans text-sm overflow-x-hidden relative;
  }

  svg {
    @apply w-[2rem] h-[2rem];
  }

  h1 {
    @apply text-lg uppercase font-semibold;
  }

  h2 {
    @apply text-md uppercase font-semibold mb-xs;
  }

  h3 {
    @apply font-bold;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1000;
    background-color: transparent !important;
  }

  textarea {
    background-color: transparent !important;
  }

  label {
    z-index: -1;
  }

  form {
    z-index: -1;
  }
}

@layer components {
  .primary-button {
    @apply bg-brown p-sm flex items-center justify-center text-white hover:opacity-70 duration-75 uppercase font-bold;
  }

  .secondary-button {
    @apply border border-black p-sm flex items-center justify-center text-black hover:bg-black hover:text-white duration-200  uppercase font-bold;
  }

  .link {
    @apply font-semibold underline hover:text-black text-darkGray;
  }

  .red-svg path {
    @apply fill-[#c90000d8];
  }
}
